In [ ]:
#Mobile Phones Data
#https://www.kaggle.com/datasets/artempozdniakov/ukrainian-market-mobile-phones-data

Question 1

In [2]:
import pandas as pd, numpy as np
data = pd.read_csv('C:/Users/Admin/Desktop/phones_data.csv')
data = data.drop(columns='Unnamed: 0')
data.head()

,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

Question 1

In [18]:
#The biggest screen of the smartphone
def answer_one():  
     print( "The biggest screen has smartphone '%s' , the size of the screen is %.1f inches"
          % (data['model_name'][data['screen_size'].astype(float).idxmax()], 
          data['screen_size'].astype(float).max() ))
answer_one()

The biggest screen has smartphone 'Surface Duo 6GB/256GB (TGM-00001)' , the size of the screen is 8.1 inches

Question 2

In [21]:
#The biggest screen of the smartphone
def answer_two():  
     print( "The most popular smartphone is '%s' , it has %d points of popularity"
          % (data['model_name'][data['popularity'].astype(float).idxmax()], 
          data['popularity'].astype(float).max() ))
answer_two()

The most popular smartphone is 'iPhone 12 Pro 128GB Pacific Blue (MGMN3/MGLR3)' , it has 1224 points of popularity

Question 3

In [25]:
#Calculating the avarage price of the smartphone
def answer_three():  
     print( "The avarage price of the smartphone is %d$"
          % data['best_price'].astype(float).mean() )
answer_three()

The avarage price of the smartphone is 7941$

Question 4

In [37]:
#Finding the common battery size of smartphone
def answer_four():  
     print( "The most common battery size of smartphone is %d"
          % data['battery_size'].astype(float).median() )
answer_four()

The most common battery size of smartphone is 3687

Question 5

In [38]:
def answer_five():  
     print( "The biggest difference in price has smartphone '%s' , the difference is %.1f$"
          % (data['model_name'][(data["highest_price"]-data["lowest_price"]).astype(float).idxmax()], 
          (data["highest_price"]-data["lowest_price"]).astype(float).max()))
answer_five()

The biggest difference in price has smartphone 'Nord N10 5G 6/128GB Midnight Ice' , the difference is 38717.0$